@mixin desktop {
  @media (min-width: 1124px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin tablet-large {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}

.appBar {
  flex-grow: 1;
  max-height: 140px;
  z-index: 23;

  .nav {
    // width: 1024px;
    display: flex;
    background-color: #fff;
    flex-direction: column;

    .topNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      .logo {
        color: blue;
      }

      ul {
        display: flex;
        li {
          a {
            font-size: 16px;
            margin-left: 20px;
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
        @include tablet {
          display: none;
        }
        svg {
          color: var(--primary-color);
          font-size: 22px;
          cursor: pointer;
          margin-left: 20px;
        }
      }
      .menuButton {
        color: #fff;
        padding: 2px;
        border-radius: 2px;
        background-color: #173355;
        display: none;
        z-index: 101;

        svg {
          font-size: 30px;
        }

        @include tablet {
          display: block;
        }
      }
    }

    .navs {
      display: flex;
      background-color: var(--primary-color);
      height: 40px;
      align-items: center;

      @include tablet {
        background-color: transparent;
        height: 0px;
      }

      .open {
        @include tablet {
          transform: translateY(0);
        }
      }

      ul {
        display: flex;
        z-index: 100;
        width: 100%;
        justify-content: space-between;

        @include tablet {
          flex-direction: column;
          align-items: center;
        }

        @include tablet {
          background-color: #173355;
          transform: translateY(-100%);
          position: absolute;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          // width: 100vw;
          padding: 100px;
          // height: 80vh;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          transition: all 0.3s linear;
        }

        li {
          height: 40px;
          display: flex;
          align-items: center;
          padding: 0px 17px;
          cursor: pointer;

          &:hover {
            background-color: #fff;
            @include tablet {
              background-color: transparent;
            }

            a {
              color: var(--secondary-color);
            }
          }
          a {
            font-size: 15px;
            color: #fff;

            @include tablet {
              font-size: 20px;
              color: rgb(216, 216, 216);
            }

            @include desktop {
              font-size: 16px;
              margin: 0px 10px;
            }
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  }
}
