@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-height: 80vh;
  align-items: center;

  @include phone() {
    min-height: auto;
    width: 100%;
    margin-bottom: 100px;
  }

  .login-form {
    min-width: 500px;
    @include phone() {
      min-width: auto;
      width: 100%;
    }
    @include tablet {
      min-width: 700px;
    }
    .grid-form{
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      @include phone(){
        grid-template-columns: 1fr;
      }
    }

    .form-title {
      text-align: center;
      margin-bottom: 20px;
    }
    .input-group {
      input {
        font-size: 13px !important;
      }

      label{
        font-size: 16px;
        background-color: #f4f4f4;
      }
    }

    .MuiButton-root {
      height: 40px;
      font-size: 14px;
      margin-top: 10px;
    }

    .or {
      text-align: center;
      margin: 20px 0px 10px;
    }
  }

  .login-form.sm{
    @include tablet{
      min-width: 400px;
    }

    .input-group{
      margin-top: 20px;
      &:nth-child(1){
        margin-top: 10px;
      }

      .MuiTextField-root{
        margin-top: 10px !important;
      }
    }
  }
}
.input-label {
  font-size: 16px;
  margin-bottom: 10px;
}
